*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

/* testata */

header{
  width: 100%;
  background-color: #0C325A;
  background-image: url("../img/oldman.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 110% 110%;
}

.general-width{
  width: 80%;
  margin: 0 auto;
}

.header-body{
  width: 80%;
  height: 500px;
  margin: 0 auto;
}

.header-top{
  height: 80px;

}
.header-top:after{
  content: "";
  display: table;
  clear: both;
}
.header-top-left{
  float:left;
}

.menuleft ul{
  list-style: none;
}

.menuleft li{
  display: inline;
  margin-left: 10px;
}

.menuleft li img{
  vertical-align: middle;
  padding-right: 30px;
}

.menuleft a{
  line-height: 80px;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.header-top-right{
  float:right;
}

.header-main{
  position: relative;
  height: 370px;
  width: 50%;
}

.header-main h1{
  font-size: 45px;
}

.header-main a{
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 20px;
  background-color: #7CBB02;
  border-radius: 5px;
  cursor: pointer;
}


.header-main .banner{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  color: white;
}

/* sottotestata */

.subheader{
  height: 100px;
  text-align: center;
  background-color: #D3D3D3;
}

/* servizi */

.main-servizi{

}
.main-servizi:after{
  content: "";
  display: table;
  clear: both;
}

.servizi{
  width: calc(100% / 3);
  float: left;
  text-align: center;
}

/* call to action */

.call-to-action::after{
  content: "";
  display: table;
  clear: both;
}

.call-to-action .picture{
  float: left;
  width: 50%;
  text-align: center;
}
.call-to-action .picture img{
  width: 50%;
}

.call-to-action .info{
  float: left;
  width: 50%;
}

/* footer */

footer{
  background-color: #D3D3D3;
  height: 100px;
}

.footer-container:after{
  content: "";
  display: table;
  clear: both;
}
.footer-container .widget{
  width: 50%;
  float: left;
}
